.main {
  display: flex;
  justify-content: center;
  // margin-right: 2rem;
  // margin-left: 2rem;

  margin-top: 2rem;

  &__videoplayer {
    width: 80%;
    border-radius: 1rem;
  }

  &__notebox {
    font-size: 0.5em;
    padding: 1rem;
    width: 65%;
    height: 8rem;
    margin-top: 2rem;
    margin-left: 5rem;
    border-radius: 0.25rem;
    border: 1em solid #e1e1e1;
  }
}
