.header {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  background: white;
  color: rgb(0, 0, 255);
  font-size: 0.5rem;

  &__logo {
    height: 4rem;
    object-fit: contain;
    margin-left: 20px;
  }
}
