.main {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  &__videoDetails {
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1rem;
    color: blue;
    padding: 1rem;
    margin: 0 auto;
    background-color: white;
    border-radius: 0.25rem;
  }

  &__videoplayer {
    width: 80%;
    border-radius: 1rem;
  }

  &__notebox {
    font-size: 0.7em;
    padding: 1rem;

    width: 65%;
    height: 8rem;
    margin-top: 2rem;
    margin-left: 5rem;
    border-radius: 0.25rem;
    border: 0.25em solid #add8e6;
  }
  &__button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 14rem;
    gap: 1rem;

    &__save {
      border-radius: 0.5rem;
      color: #e1e1e1;
      padding: 0.25rem;
      background-color: white;
      border: 0.15em solid #add8e6;
    }
    &__save:hover {
      border: none;
      color: white;
      background-color: #add8e6;
      cursor: pointer;
    }
  }
}
